.plansHeader{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    font-weight: bold;
}
.plansHeader>:nth-child(1){
    font-size: 4rem;
    font-style: uppercase;
}
.plansHeader>:nth-child(2){
    font-size: 4rem;
    font-style: uppercase;
} 

.plansHeader>:nth-child(3){
    font-size: 4rem;
    font-style: uppercase;
}




.plansContainer{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-top: -4rem;
    padding: 0 2rem;
    position: relative;

}

.plans{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.plan{
    display: flex;
    flex-direction: column;
    color: white;
    background: var(--caloryCard);
    gap: 2rem;
    padding: 1.5rem;
    width: 20rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.plan:nth-child(2){
    background: var(--planCard);
    transform: scale(1.1);
}
.plan>svg{
    font-size: 3rem;
    fill: orange;
    width: 2rem;
    height: 2rem;
}

.plans>:nth-child(2){
    font-weight: bold;
    font-size: 1rem;
}

.plan>:nth-child(3){
    font-weight: bold;
    font-size: 3rem;
}
.feature{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.feature>img{
    width: 1rem;
    height: 1rem;
}

.plans>:nth-child(2)>svg{
    fill: rgb(255, 255, 255);
}
.plans>:nth-child(2)>button{
        fill: orange;
    
}