/* Calculator title*/
  .cal-title {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 8rem;
    margin-left: 2rem;
    text-transform: uppercase;
    font-size: 4.5rem;
    font-weight: bold;
    text-overflow: inherit;
    color: white;
  }

  .bmi-container {
    display: flex;
  }

  /* BMI Calculator Container */
  .left-cal {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 500px;
    text-align: center;  
    margin-left: 2rem;
  }

  
  /* Input and Calculation Area */
  .calculator-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 5px;
  } 
  
  .btn.age_gender {
    flex-basis: 100%;
  }

  .btn.age_gender label,
  .btn.age_gender input,
  .btn.age_gender select {
    width: 100%; 
    margin-bottom: 10px; 
  }

  .btn.age_gender label{
    margin-left: px;
  } 

  .btn.age_gender inpu:nth-last-child(1) {
    margin-right: 7rem;
    width: 3rem;
  }

  .btn.age_gender input:nth-child(2) {
    margin-left: -2rem;
  }

  .calculator-form label {
    font-weight: bold;
  }
  
  .calculator-form input,
  .calculator-form select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .calculator-form button {
    background-color: var(--orange); /* Replace with your color  */
    color: white;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

   .calculator-form .btn.calculate button {
    margin-left: 10px;
    display: flex;
    align-items: center;
    background-color: #fff;
    color: black;
    font-weight: bold;
    font-size: 16px;
   }

   .calculator-form .btn.calculate button > img {
    width: 20px;
    height: auto;
    color: black;
    margin-right: 5px;
   }

   .calculator-form .btn.reset button {
    margin-right: 10px;
   }

  /* Displaying the Result */
  .calculator-result {
    border-top: 1px solid #ddd;
    padding-top: 20px;
  }
  
  .calculator-result p {
    margin-bottom: 5px;
  }
  
  .calculator-result p strong {
    color: var(--darkgray); /* Replace with your color */
  }

  .right-cal {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
  }

  .right-cal > img {
    margin-top: 2rem;
    margin-right: 4rem;
    width: 40rem;
    height: 30rem;
    border-radius: 8px;
  }

 .image-container {
  position: relative;
  overflow: hidden;
}

.image-slice {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s;
}

  .copyright {
    color: var(--orange);
    top: -3rem;
    font-weight: bold;
    font-size: 12px;
    position: relative;
}


  /* Media Queries for Responsiveness */
@media screen and (max-width: 768px) {
      .cal-title {
        display: flex;
        font-size: xx-large;
        align-items: center;
        justify-content: center;
      }
      .bmi-container {
        display: block; /* Change to block for mobile layout */
      }
    
      /* BMI Calculator Container */
      .left-cal {
        margin: 0 auto; /* Center the calculator horizontally */
        margin-top: 0rem;
        padding: 20px;
        max-width: 100%; /* Adjust to full width on mobile */
      }
    
      /* Input and Calculation Area */
      .calculator-form {
        display: flex;
        flex-wrap: wrap;
        gap: 10px; /* Decrease gap for mobile layout */
      }

      .btn.age_gender {
        flex-basis: 100%;
      }

      .btn.age_gender label,
      .btn.age_gender input,
      .btn.age_gender select {
        width: 100%; /* Full width for each element on mobile */
        margin-bottom: 10px; /* Add margin between elements */
      }

      .btn.age_gender label{
        margin-left: -10px;
      } 

      .btn.age_gender input {
        margin-right: 2rem;
        width: 2.5rem;
      }

      .btn.age_gender input:nth-child(2) {
        margin-right: 1rem;
      }

      .btn.units label {
        margin-left: -1rem;
      }

     
      .btn.units select {
        margin-right: 4rem;
      }

      .calculator-form label {
        font-weight: bold;
        font-size: 14px; /* Adjust font size for mobile */
      }
    
      .calculator-form input,
      .calculator-form select {
        padding: 8px; /* Decrease padding for mobile */
        font-size: 14px; /* Adjust font size for mobile */
      }
    
      .calculator-form button {
        padding: 10px 15px; /* Adjust button padding for mobile */
        font-size: 14px; /* Adjust font size for mobile */
      }
    
      .calculator-form .btn.calculate button {
        margin-left: 5px; /* Adjust margin for mobile */
        font-size: 14px; /* Adjust font size for mobile */
      }
    
      .calculator-form .btn.calculate button > img {
        width: 16px; /* Adjust image size for mobile */
        margin-right: 3px; /* Adjust margin for mobile */
      }
    
      .calculator-form .btn.reset button {
        margin-right: 5px; /* Adjust margin for mobile */
      }
    
      /* Displaying the Result */
      .calculator-result {
        padding-top: 15px; /* Adjust padding for mobile */
      }
    
      .calculator-result p {
        margin-bottom: 3px; /* Adjust margin for mobile */
      }
    
      .calculator-result p strong {
        font-size: 14px; /* Adjust font size for mobile */
      }
    
      .right-cal  {
        display: flex;
        flex-direction: column;
      }
    

    .right-cal > img {
        margin-top: 2rem;
        margin-left: 4rem;
        height:3px;
        border-radius: 8px;
    }

    .copyright {
      color: var(--orange);
      top: -3rem;
      font-weight: bold;
      font-size: 10px;
      position: relative;
    }
  }
