.header {
    display: flex;
    justify-content: space-between;
}
.logo {
    width: 10rem;
    height: 3rem;
}
.nav-menu {
    list-style: none;
    display: flex;
    gap: 2rem;
    color: white;
}
.nav-menu li{
    cursor: pointer;
}
.nav-menu li:hover {
    color: var(--orange);
}