<div className="header" id='header'>
    <img src={Logo} alt="" className="logo" />
    <div className='nav'>
      <ul className='nav-menu' id='nav-menu'>
          <li className='nav-item'>
            <a href='#home'>Home</a>
          </li>
          <li className='nav-item'>
            <a href='#programs'>Programs</a>
          </li>
          <li className='nav-item'>
            <a href='#choose-us'>Choose Us</a>
          </li>
          <li className='nav-item'>
            <a href='#plans'>Plans</a>
          </li>
          <li className='nav-item'>
            <a href='#contact'>Contact us</a>
          </li>
      </ul>

      <div className='nav-close' id='nav-close'>
        <i class="ri-close-circle-line"></i>
      </div>
      <div className='nav-toggle' id='nav-toggle'>
        <i class="ri-menu-line"></i>
      </div>
    </div>
</div>
)
}

export default Header