.header {
    display: flex;
    position: fixed;
    margin: 0 39px;
    padding-top: 2rem;
    z-index: 1000;
    width: 90%;
    top: 0;
    gap: 9rem;
    
  }
  
  .header-scrolled {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    transition: background-color 0.3s ease; /* Add a transition */
  }

.logo {
    width: 10rem;
    height: 3rem;
}
.nav-menu {
    list-style: none;
    display: flex;
    gap: 2rem;
    color: white;
}
.nav-menu li{
    cursor: pointer;
}
.nav-menu a:hover {
    color: var(--orange);
}
.nav-menu a{
    cursor: pointer;
    text-decoration: none;
    display: flex;
    color: white;
    font-weight: bold;
}

@media screen and (max-width: 250px) {
    .nav-menu {
        display: flex;
    }
    
    .mobile-menu {
        position: absolute;
        top: 50px;
        right: 20px;
        padding: 1rem;
        width: 28%;
        height: 100vh;
        background-color: rgba(178, 70, 7, 0.721); 
        z-index: 100;
    }
    .mobile-menu li{
        list-style: none;
        margin-bottom: 1rem;
    }
    .mobile-menu li:hover {
        cursor: pointer;
        color: orange;
    }
    .mobile-menu a{
        text-decoration: none;
        color: white;
    }
}

@media screen and (max-width: 600px) {
    .header{
        display: flex;
        margin: 0 auto;
        justify-content: center;
    }
    .nav-menu {
        display: flex;
    }
    
    .mobile-menu {
        position: absolute;
        top: 50px;
        padding: 1rem;
        left: 110px;
        width: 70%;
        height: 100vh;
        background-color: rgba(178, 70, 7, 0.721); 
        z-index: 100;
    }
    .mobile-menu li{
        list-style: none;
        margin-bottom: 1rem;
    }
    .mobile-menu li:hover {
        cursor: pointer;
        color: orange;
    }
    .mobile-menu a{
        text-decoration: none;
        color: white;
    }
}